<div class="modal-header">
  <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
  <form novalidate>
    <label>客户名: </label>
    <input type="text" ng-model="client.name" class="form-control" required>
    <label>地址: </label>
    <input type="text" ng-model="client.address" class="form-control"/>
    <label>电话: </label>
    <input type="number" ng-model="client.phone" class="form-control"/>
    <label>身份证号码: </label>
    <input type="number" ng-model="client.sid" class="form-control"/>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok($event)">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>