<header>
  <a href='#'><i class="fa fa-home home"></i> </a>
  <a href=''><i class="fa fa-cog cog"></i></a>
</header>
<section>
  <table>
    <tr>
      <td>
        <div class='icon'>
          <a ng-href='#/order'><i class="fa fa-pencil-square-o dd"></i></a>
          <p>订单录入</p>
        </div>
      </td>
      <td>
        <div class='icon'>
          <a href='#'><i class="fa fa-shopping-cart dg"></i></a>
          <p>待购商品</p>
        </div>
      </td>
      <td>
        <div class='icon'>
          <a href='#'><i class="fa fa-truck df"></i></a>
          <p>待发货</p>
        </div>
      </td>
      <td>
        <div class='icon'>
          <a href='#'><i class="fa fa-usd ds"></i></a>
          <p>待收款</p>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class='icon'>
          <a href='#'><i class="fa fa-table ls"></i></a>
          <p>历史订单</p>
        </div>
      </td>
      <td>
        <div class='icon'>
          <a href='#'><i class="fa fa-bar-chart cw"></i></a>
          <p>财务报表</p>
        </div>
      </td>
      <td>
        <div class='icon'>
          <a href='#'><i class="fa fa-cubes sp"></i></a>
          <p>商品管理</p>
        </div>
      </td>
      <td>
        <div class='icon'>
          <a href='#'><i class="fa fa-users gk"></i></a>
          <p>顾客管理</p>
        </div>
      </td>
    </tr>
  </table>
</section>