%header
  .row
    .col-xs-2
      %a{:href => "#/home", :class=>'home-button'}
        %i.fa.fa-home.home
    .col-xs-8.center
      %span.title {{title}}
    .col-xs-2

  / %a{:href => ""}
  /   %i.fa.fa-cog.cog