.modal-header
  %h3 采购结果 
.modal-body
  %form.form-inline{:novalidate => "", id:'bought-form'}
    %div{"ng-repeat" => "detail in details"}
      .row
        .col-xs-12
          %label {{detail.item_client}}订购{{detail.item_quantity}}个, 订购价 {{detail.item_sale_price}}
      .row
        .col-xs-12
          %label 买到:
          %select{"ng-model" => "bought[$index].quantity", "ng-options" => "value for value in detail.values"}
          个,
      .row
        .col-xs-12
          %label 买价: 
          %input{"ng-model" => "bought[$index].buy_price", type:"number", step:"0.01", min:"0", "ng-required" => "bought[$index].quantity > 0", "size"=>2}=Currency::SUPPORTED_CURRENCIES[current_user.currency][0]
      %hr
.modal-footer
  %button.btn.btn-primary{"ng-click" => "ok($event)"} OK
  %button.btn.btn-warning{"ng-click" => "cancel()"} Cancel