=render 'header'
%section.clientmanager
  
  %table.table.table-striped.table-hover.table-bordered
    %tr
      %td.center{"ng-click"=> "newClient()"}
        .btn.btn-success 添加新客户
    %tr{"ng-repeat" => "client in clients"}
      %td
        .row
          .col-xs-9 {{client.name}}
          .col-xs-3{"ng-click"=> "editClient(client.id)"} 
            .btn.btn-success 编辑
