.modal-header
  %h3 {{title}} 
.modal-body
  %form{:novalidate => "", id:'create_client_form'}
    %label 客户名:
    %input.form-control{"ng-model" => "client.name", :required => "", :type => "text", "ng-disabled"=> "isEditing", "placeholder" => "必需填写"}/
    %label 地址:
    %input.form-control{"ng-model" => "client.address", :type => "text", "placeholder" => "可选"}/
    %label 电话:
    %input.form-control{"ng-model" => "client.phone", :type => "number", "placeholder" => "可选"}/
    %label 身份证号码:
    %input.form-control{"ng-model" => "client.sid", "placeholder" => "可选"}/
    %label 结算货币:
    %select.form-control{"ng-model" => "client.price_unit", "ng-options" => "price.code as price.title for price in price_units", :required => "", "ng-disabled"=> "isEditing"}

.modal-footer
  %button.btn.btn-primary{"ng-click" => "ok($event)"} OK
  %button.btn.btn-warning{"ng-click" => "cancel()"} Cancel