=render 'header'
%section.ordermanager
  .row.filter
    .col-xs-6
      %lable 日期
      %select{"ng-model" => "query.date", "ng-options" => "date.code as date.title for date in dates", :required => ""}
    .col-xs-6
      %lable 客户
      %select{"ng-model" => "query.client_id", "ng-options" => "client.id as client.name for client in clients", :required => ""}
  .row.filter
    .col-xs-6
      %lable 状态
      %select{"ng-model" => "query.status", "ng-options" => "status.code as status.title for status in statuses", :required => ""}
    .col-xs-6
      .btn.btn-success 重新查询
  %div{{"ng-repeat" => "grouped_items in data"}}
    .date
      {{grouped_items.date}}
    %div{{"ng-repeat" => "main_item in grouped_items.main_items"}}
      .row.title
        .col-xs-10
          %span.name {{main_item.client_name}}: 
          %span {{main_item.product_name}} x {{main_item.total_quantity}}
        .col-xs-2.hide-toggle{"ng-click" => "hideDetail[$parent.$index][$index] = false"}
          %i.fa.fa-angle-double-down
      .detail{"collapse" => "hideDetail[$parent.$index][$index]"}
        .row.detail-item
          {{main_item.quantity}}个 {{getStatusString(main_item.status)}}  

        .row.detail-item{{"ng-repeat" => "item in main_item.subitems"}}
          {{item.quantity}}个  {{getStatusString(item.status)}}
        .hide-detail{"ng-click" => "hideDetail[$parent.$index][$index] = true"} 
          %i.fa.fa-angle-double-up 隐藏