=render 'header'
%section.ordermanager
  .row.filter
    .col-xs-6
      %lable 日期
      %select{"ng-model" => "query.date", "ng-options" => "date.code as date.title for date in dates", :required => ""}
    .col-xs-6
      %lable 客户
      %select{"ng-model" => "query.client_id", "ng-options" => "client.id as client.name for client in clients", :required => ""}
  .row.filter
    .col-xs-6
      %lable 状态
      %select{"ng-model" => "query.status", "ng-options" => "status.code as status.title for status in statuses", :required => ""}
    .col-xs-6
      .btn.btn-success{"ng-click" => "query_order()"} 重新查询
  %div{{"ng-repeat" => "grouped_items in data"}}
    .date
      {{grouped_items.date}}
    %div{{"ng-repeat" => "main_item in grouped_items.main_items"}}
      .row.title{"ng-show" => "main_item.total_quantity > 0"}
        .col-xs-10
          %span.name {{main_item.client_name}}: 
          %span {{main_item.product_name}} x {{main_item.total_quantity}}
        .col-xs-2.hide-toggle{"ng-click" => "hideDetail[$parent.$index][$index] = !hideDetail[$parent.$index][$index];"}
          %i.fa.link{"ng-class" => "hideDetail[$parent.$index][$index] ? 'fa-angle-double-down': 'fa-angle-double-up' "}
      .detail{"ng-hide" => "hideDetail[$parent.$index][$index]"}
        .row.detail-item{"ng-show" => "main_item.quantity > 0"}
          .col-xs-9
            {{main_item.quantity}}个 {{getStatusString(main_item.status)}}
          .col-xs-3{"ng-show"=>"main_item.status < 2"}
            .btn.btn-success{"ng-click" => "edit(main_item.id, data.indexOf(grouped_items), $index)"} 编辑

        .detail-item{{"ng-repeat" => "item in main_item.subitems"}}
          .row{"ng-show" => "item.quantity > 0"}
            .col-xs-9
              {{item.quantity}}个 {{getStatusString(item.status)}}
            .col-xs-3{"ng-if"=>"item.status < 2"}
              .btn.btn-success{"ng-click" => "edit(item.id, data.indexOf(grouped_items), grouped_items.main_items.indexOf(main_item), $index)"} 编辑
        .hide-detail{"ng-click" => "hideDetail[$parent.$index][$index] = true"} 
          %i.fa.link.fa-angle-double-up 隐藏