=render 'header'
%section.package-manager
  .row.filter
    .col-xs-6
      %lable 日期
      %select{"ng-model" => "query.date", "ng-options" => "date.code as date.title for date in dates", :required => ""}
    .col-xs-6
      %lable 客户
      %select{"ng-model" => "query.client_id", "ng-options" => "client.id as client.name for client in clients", :required => ""}
  .row.filter
    .col-xs-6
      %lable 状态
      %select{"ng-model" => "query.status", "ng-options" => "status.code as status.title for status in statuses", :required => ""}
    .col-xs-6
      .btn.btn-success{"ng-click" => "query_package()"} 重新查询
  .row.package{"ng-repeat" => "package in packages", "ng-class" => "$even ? 'even' : '' "}
    .col-xs-10
      .div.text{"ng-click"=> "hide_item_details[$index] = !hide_item_details[$index]"}
        %i.fa.fa-archive
        {{package.label}} 
        %span.small (总价: {{package.total_amount}})
        %span.link 
          %i.fa{"ng-class" => "hide_item_details[$index] ? 'fa-angle-double-down': 'fa-angle-double-up' "}
      .div{"ng-hide" => "hide_item_details[$index]"}
        .panel.panel-info
          .panel-heading{"ng-click"=> "hide_item_details[$index] = true"}
            %span 包裹明细
            %span.pull-right.link 
              %i.fa.fa-angle-double-up
          %table.table.table-striped
            %tr{"ng-repeat" => "item in package.items"}
              %td {{item.name}} X {{item.quantity}}
    .col-xs-2
      .btn.btn-success.pull-right{"ng-click"=>"edit(package.id)"} 编辑
  .center
    %h2 {{text}}
