=render 'header'
%section.pay
  .row{"ng-repeat" => "package in packages", "ng-class" => "$even ? 'even' : '' "}
    .col-xs-10
      .div.text{"ng-click"=> "hide_item_details[$index] = !hide_item_details[$index]"}
        %i.fa.fa-archive
        {{package.label}} 
        %span.small (应收 {{package.total_amount}})
        %span.link 
          %i.fa{"ng-class" => "hide_item_details[$index] ? 'fa-angle-double-down': 'fa-angle-double-up' "}
      .div{"ng-hide" => "hide_item_details[$index]"}
        .panel.panel-info
          .panel-heading{"ng-click"=> "hide_item_details[$index] = true"}
            %span 包裹明细
            %span.pull-right.link 
              %i.fa.fa-angle-double-up
          %table.table.table-striped
            %tr{"ng-repeat" => "item in package.items"}
              %td {{item.name}} X {{item.quantity}}
    .col-xs-2
      .btn.btn-success.pull-right{"ng-click"=>"paid($index)"} 收款
  .center
    %h2 {{text}}