=render 'header'
%section.send
  %div{"ng-repeat" => "client in client_items"}
    .panel.panel-info
      .panel-heading
        .row 
          .col-xs-6
            %h4 {{client.client_name}}
          .col-xs-6
            .btn.btn-success.pull-right{"ng-click"=> "package($index)"}  打包
      %table.table.table-striped.table-hover.table-bordered
        %tr{"ng-repeat" => "item in client.items", "ng-show" => "item.quantity > 0"}
          %td {{item.product_name}} X {{item.quantity}}
  .center
    %h2 {{text}}