=render 'header'
%section
  %div{"ng-repeat" => "item in order_items"}
    .panel.panel-info
      .panel-heading
        .row 
          .col-xs-col6.pull-left
            %h3 {{item.client_name}}
          .col-xs-col6.pull-right
            .btn.btn-success 打包