=render 'header'
%section
  %table.table.table-striped.table-hover.table-bordered
    %tr{"ng-repeat" => "item in order_items"}
      %td{"ng-click"=> "open_details($index)"} {{item.product_name}} X {{item.total}}
  .center
    %h2 {{text}}