.ordermanager{
  .filter{
    background-color: #ddd;
    line-height: 43px;
    border-bottom: 1px solid #bbb;
    padding-left: 10px;
  }
  .date{
    text-align: center;
    line-height: 24px;
    background-color: #bce8f1;
  }
  .title{
    line-height: 38px;
    padding-left: 5px;
    border-bottom: 1px solid #ddd;
    .hide-toggle{
      border-left: 1px solid #f0f0f0;
      padding-left: 0px;
      text-align: center;
    }
  }
  .name{
    font-weight: bold;
    padding-right: 3px;
  }

  .detail{
    background-color: #eee;
    line-height: 38px;
    .detail-item{
      text-align: center;
      border-bottom: 1px solid #ddd;
    }
    .hide-detail{
      background-color: #ccc;
      text-align: center;
    }
    .btn{
      padding: 2px 12px;
    }
  }


}