!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title myod
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .myod
      %header
        %a{:href => "#"}
          %i.fa.fa-home.home
        %a{:href => ""}
          %i.fa.fa-cog.cog
      = yield
